<html>
<head>
    <title>{% block title %}{% endblock %} - Tryktrak</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=latin-ext" rel="stylesheet">
    <script type = text/javascript src = "https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
    <div id = "lewy-bok">
        <header>
		    <h1>Tryktrak</h1>
	    </header>
        {%  block lewy %}
        {%  endblock %}
    </div>
    <main>
	{% block content %}
	{% endblock %}
	<main>
{% block script %}{% endblock %}
</body>
</html>
