{% extends "base.html" %}
{% block title %}Gra{% endblock %}
{%  block lewy %}
    Typ gry: {{ typ_gry }}<br>
    Wyrzucone wartości:
    {%  for x in rzuty %}
        {{ x }}
    {%  endfor %}
{% endblock %}
{% block content %}
    <div id = "plansza">
        {% set licznik = 0 %}
        {% for pole, wartosc in stan_gry.items() %}
            {% if licznik >= 12 %}
                <div id = {{ pole }} class = "dolne_pole">
            {% else %}
                <div id = {{ pole }} class = "gorne_pole">
            {% endif %}
            {% set licznik = licznik+1 %}
            {% for pionek in wartosc %}
                {% if pionek == 'bordo' %}
                    <img href = {{ url_for('static', filename='pionek_bordowy.png') }}>
                {% elif pionek == 'bialy' %}
                    <img href = {{ url_for('static', filename='pionek_bialy.png') }}>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}