{% extends "base.html" %}
{% block title %}Gra{% endblock %}
{%  block lewy %}
    Typ gry: {{ typ_gry }}<br>
    Aktywny gracz: {{ kolejka }}<br>
    Rzuty kostką:<br>
    <div id = "kostki">
        {% set sciezki = ["../static/1.png", "../static/2.png", "../static/3.png", "../static/4.png", "../static/5.png", "../static/6.png"] %}
        {% set pierwszy_rzut = sciezki[rzuty[0]-1] %}
        <img src = "{{ pierwszy_rzut }}">
        {% set drugi_rzut = sciezki[rzuty[1]-1] %}
        <img src = "{{ drugi_rzut }}">
    </div>
    Pozostałe ruchy:
    {%  for x in aktywne_rzuty %}
        {{ x }}
    {%  endfor %}<br>
    Wybierz kolejny ruch:
    <form method = "get" action = "/ruch">
        <input type = "text" name = "pionek">
        <input type = "text" name = "pole">
        <input type = "submit" value = "Zatwierdź">
    </form>
{% endblock %}
{% block content %}
    <div id = "plansza">
            {% set licznik = 0 %}
            {% for pole, wartosc in stan_gry.items() %}
                {% if licznik < 12 %}
                    <div id = {{ pole }} class = "pole dolne_pole">
                {% else %}
                    <div id = {{ pole }} class = "pole gorne_pole">
                {% endif %}
                {% set licznik = licznik+1 %}
                {% for pionek in wartosc %}
                    {% if pionek == 'bordo' %}
                        <div class = "pionek_bordo"></div>
                    {% elif pionek == 'bialy' %}
                        <div class = "pionek_bialy"></div>
                    {% endif %}
                {% endfor %}
                    </div>
            {% endfor %}
    </div>
{% endblock %}
{% block script %}
    <script>
    $(document).ready(function(){
        $('#pole_18').after('<div id="belka_gora" class = "gorne_pole pole" style="width:28px;"></div>');
        $('#pole_6').after('<div id="belka_dol" class = "dolne_pole pole" style="width:28px;"></div>');
    });
    </script>
{% endblock %}