{% extends "base.html" %}
{% block title %}Gra{% endblock %}
{%  block lewy %}
    {% if koniec %}
        <div class = "boczne-komunikaty" id="koniec-gry">
            <p>Koniec gry!</p>
            <p>Wygrany: {{ wygrany }}</p>
            <p>Punkty: {{ punkty }}</p>
            <a href="/index"><button type="button">Nowa gra!</button></a>
        </div>
    {% else %}
        <div class = "boczne-komunikaty">
            <p>Typ gry: {{ typ_gry }}</p>
        </div>
        <div class = "boczne-komunikaty" id="aktywny-gracz">
            <p>Aktywny gracz: <span>{{ kolejka }}</span></p>
        </div>
        <div class = "boczne-komunikaty">
            <p>Rzuty kostką:</p>
            <div id = "kostki">
            {% set sciezki = ["../static/1.png", "../static/2.png", "../static/3.png", "../static/4.png", "../static/5.png", "../static/6.png"] %}
            {% for rzut in rzuty %}
                {% if loop.index < 3 %}
                    {% set sciezka = sciezki[rzut-1] %}
                    <img src = "{{ sciezka }}">
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class = "boczne-komunikaty" id = "komunikaty">
            {% if komunikaty %}
                <p><span>Komunikaty</span></p>
                <p>{{ komunikaty }}</p>
            {% endif %}
        </div>
            <div class = "boczne-komunikaty" id="kolejka-komputera" >
            {% if kolejka == 'Komputer' %}
                <p>Teraz komputer ma kolejkę!</p>
                <button id="ruch-komputera">Ok!</button>
            {% endif %}
            {% if ostatnie_ruchy and kolejka != 'Komputer' %}
                <form method = "get" action="/ruch">
                    <input type = "submit" name = "cofanie" value = "Cofnij">
                </form>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    <div id = "plansza">
    <form method="post" action="/ruch">
            {% set licznik = 0 %}
            {% set radio = 1 %}
            {% for pole, wartosc in stan_gry.items() %}
                {% if pole != 'zbite' %}
                    {% if licznik < 12 %}
                            <div id = {{ pole }} class = "pole dolne_pole">
                            <input type = "submit" name = "dokad" value = "{{ loop.index }}" class="numer-pola" id = "{{ loop.index }}" disabled>
                    {% else%}
                        <div id = {{ pole }} class = "pole gorne_pole">
                        {% if loop.index < 25 %}
                            <input type = "submit" name = "dokad" value = "{{ loop.index }}" class="numer-pola" id = {{ loop.index }} disabled>
                        {% endif %}
                    {% endif %}
                    {% set licznik = licznik+1 %}
                    {% for pionek in wartosc %}
                        {% if pionek == 'bordo' %}
                            {% if radio in mozliwe_ruchy and kolejka != 'Komputer' %}
                                <input type="radio" name="skad" id = "{{ radio }}-{{ loop.index }}" value = "{{ radio }}" class = "css-checkbox">
                                <label for="{{ radio }}-{{ loop.index }}" class="css-label radio-bordo"></label>
                            {% else %}
                                <input type="radio" name="skad" id = "{{ radio }}-{{ loop.index }}" value = "{{ radio }}" class = "css-checkbox" disabled>
                                <label for="{{ radio }}-{{ loop.index }}" class="css-label radio-bordo"></label>
                            {% endif %}
                        {% elif pionek == 'bialy' %}
                            {% if radio in mozliwe_ruchy and kolejka != 'Komputer' %}
                                <input type="radio" name="skad" id = "{{ radio }}-{{ loop.index }}" value = "{{ radio }}" class = "css-checkbox">
                                <label for="{{ radio }}-{{ loop.index }}" class="css-label radio-bialy"></label>
                            {% else %}
                                <input type="radio" name="skad" id = "{{ radio }}-{{ loop.index }}" value = "{{ radio }}" class = "css-checkbox" disabled>
                                <label for="{{ radio }}-{{ loop.index }}" class="css-label radio-bialy"></label>
                            {% endif %}
                        {% endif %}

                    {% endfor %}
                    {% set radio = radio+1 %}
                        </div>
                {% endif %}
            {% endfor %}
            <div id = "zbite" style="left:285px;">
                {% for pionek in zbite %}
                    {% if 'bordo' in pionek %}
                        <input type="radio" name="skad" id = "zbite-{{ loop.index }}" value = "0" class = "css-checkbox">
                        <label for="zbite-{{ loop.index }}" class="css-label radio-bordo"></label>
                    {% elif 'bialy' in pionek %}
                        <input type="radio" name="skad" id = "zbite-{{ loop.index }}" value = "0" class = "css-checkbox">
                        <label for="zbite-{{ loop.index }}" class="css-label radio-bialy"></label>
                    {% endif %}
                {% endfor %}
            </div>

                <button type = "submit" name = "dokad" value = "x" class = "button-sciaganie" disabled>Ściągnij!</button>

    </form>
    </div>
{% endblock %}
{% block script %}
    <script>
    $(document).ready(function(){
        $('#pole_18').after('<div id="belka_gora" class = "gorne_pole pole" style="width:28px;"></div>');
        $('#pole_6').after('<div id="belka_dol" class = "dolne_pole pole" style="width:28px;"></div>');
    });
    </script>
    <script type=text/javascript>
    $(document).ready(function() {
        $('input[name="skad"]').click(function() {
            $('input[name="dokad"]').attr('disabled', true);
            $('.button-sciaganie').attr('disabled', true);
            var skad = $('input[name="skad"]:checked').val();
            var ruchy = {{ mozliwe_ruchy|tojson }};
            console.log(ruchy);
            for (var i in ruchy[skad]) {
                ruch = ruchy[skad][i]
                $('#'+ruch).attr('disabled', false);
                if (ruch == 'x') {
                    $('.button-sciaganie').attr('disabled', false);
                }
            }
        });
    });
    </script>
    <script>
    $(document).ready(function () {
       $('#ruch-komputera').click(function () {
           location.reload();
       });
    });
    </script>
{% endblock %}