{% extends "base.html" %}
{% block title %}Gra{% endblock %}
{%  block lewy %}
    {% if koniec %}
        Koniec gry!
        Wygrany: {{ wygrany }}
        <a class = "nowa-gra" href="/index">Nowa gra!</a>
    {% else %}
        Typ gry: {{ typ_gry }}<br>
        Aktywny gracz: {{ kolejka }}<br>

        Rzuty kostką:<br>
        <div id = "kostki">
            Rzuty do wykorzystania:<br>
            {% set sciezki = ["../static/1.png", "../static/2.png", "../static/3.png", "../static/4.png", "../static/5.png", "../static/6.png"] %}
            {% for rzut in rzuty %}
                {% if loop.index < 3 %}
                    {% set sciezka = sciezki[rzut-1] %}
                    <img src = "{{ sciezka }}">
                {% endif %}
            {% endfor %}
        </div>
        Pozostałe wartości ruchu:
        {%  for x in ruchy %}
            {{ x }}
        {%  endfor %}<br>
        Ruchy możliwe do wykonania:

            {{ mozliwe_ruchy }}
        {% if kolejka == 'Komputer' %}
            Teraz komputer ma kolejkę!
            <form method = "get">
                <input type = "submit" value = "Ok">
            </form><br>
        {% endif %}
        {% if komunikaty %}
            {{ komunikaty }}
        {% endif %}
        Ostatnie ruchy:
            {{ ostanie_ruchy }}
    {% endif %}
{% endblock %}
{% block content %}
    <div id = "plansza">
    <form method="post">
            {% set licznik = 0 %}
            {% set radio = 1 %}
            {% for pole, wartosc in stan_gry.items() %}
                {% if licznik < 12 %}
                        <div id = {{ pole }} class = "pole dolne_pole">
                        <input type = "submit" name = "dokad" value = "{{ loop.index }}" class="numer-pola" id = "{{ loop.index }}" disabled>
                {% else %}
                    <div id = {{ pole }} class = "pole gorne_pole">
                    {% if loop.index < 25 %}
                        <input type = "submit" name = "dokad" value = "{{ loop.index }}" class="numer-pola" id = {{ loop.index }} disabled>
                    {% endif %}
                {% endif %}
                {% set licznik = licznik+1 %}
                {% for pionek in wartosc %}
                    {% if pionek == 'bordo' %}
                        {% if radio in mozliwe_ruchy and kolejka != 'Komputer' %}
                            <input type="radio" name="skad" id = "{{ radio }}-{{ loop.index }}" value = "{{ radio }}" class = "css-checkbox">
                            <label for="{{ radio }}-{{ loop.index }}" class="css-label radio-bordo"></label>
                        {% else %}
                            <input type="radio" name="skad" id = "{{ radio }}-{{ loop.index }}" value = "{{ radio }}" class = "css-checkbox" disabled>
                            <label for="{{ radio }}-{{ loop.index }}" class="css-label radio-bordo"></label>
                        {% endif %}
                    {% elif pionek == 'bialy' %}
                        {% if radio in mozliwe_ruchy and kolejka != 'Komputer' %}
                            <input type="radio" name="skad" id = "{{ radio }}-{{ loop.index }}" value = "{{ radio }}" class = "css-checkbox">
                            <label for="{{ radio }}-{{ loop.index }}" class="css-label radio-bialy"></label>
                        {% else %}
                            <input type="radio" name="skad" id = "{{ radio }}-{{ loop.index }}" value = "{{ radio }}" class = "css-checkbox" disabled>
                            <label for="{{ radio }}-{{ loop.index }}" class="css-label radio-bialy"></label>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% set radio = radio+1 %}
                    </div>
            {% endfor %}
            <div id = "zbite" style="left:285px;">
                {% for pionek in zbite %}
                    {% if 'bordo' in pionek %}
                        <input type="radio" name="skad" id = "zbite-{{ loop.index }}" value = "0" class = "css-checkbox">
                        <label for="zbite-{{ loop.index }}" class="css-label radio-bordo"></label>
                    {% elif 'bialy' in pionek %}
                        <input type="radio" name="skad" id = "zbite-{{ loop.index }}" value = "0" class = "css-checkbox">
                        <label for="zbite-{{ loop.index }}" class="css-label radio-bialy"></label>
                    {% endif %}
                {% endfor %}
            </div>
            {% if sciaganie == 1 %}
                <button type = "submit" name = "dokad" value = "x" class = "button-sciaganie">Ściągnij pionek<br> z planszy</button>
            {% else %}
                <button type = "submit" name = "dokad" value = "x" class = "button-sciaganie" disabled>Ściągnij pionek<br> z planszy</button>
            {% endif %}
    </form>
    </div>
{% endblock %}
{% block script %}
    <script>
    $(document).ready(function(){
        $('#pole_18').after('<div id="belka_gora" class = "gorne_pole pole" style="width:28px;"></div>');
        $('#pole_6').after('<div id="belka_dol" class = "dolne_pole pole" style="width:28px;"></div>');
    });
    </script>
    <script type=text/javascript>
    $(document).ready(function() {
        $('input[name="skad"]').click(function() {
            $('input[name="dokad"]').attr('disabled', true);
            var skad = $('input[name="skad"]:checked').val();
            var ruchy = {{ mozliwe_ruchy|tojson }};
            console.log(ruchy);
            for (var i in ruchy[skad]) {
                ruch = ruchy[skad][i]
                $('#'+ruch).attr('disabled', false);
            }
        });
    });
    </script>
{% endblock %}