body {
	background-color: #E8EDDF;
	margin: 0;
	font-family: 'Roboto', sans-serif;

}

header {
	background-color: #3E000C;
	margin: 0;
	color: white;
	padding:10px 0 10px 0;
}

#lewy-bok {
	width:20%;
	background-color: #3E000C;
	height:100%;
	float:left;
	color: white;
}

h1 {
	font-weight: normal;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	margin:0;
	font-size: 3em;
	text-align: center;
}

main {
	position:relative;
	left:20%;
	margin: 50px 0 0 0;
	float:left;
}

#plansza {
	width: 600px;
	height: 537px;
	background-image: url('plansza.png');
}


#plansza .pole {
	width: 34px;
	margin:0 5px 0 5px;
	height: 345px;
	position:relative;
}

.pole p {
    font-size: 20px;
    text-align: center;
}

.gorne_pole {
	float:left;
	position:relative;
	bottom:396px;
	left:16.5px;
}

.dolne_pole {
	float:right;
	position: relative;
	top:240px;
	right:16.5px;
	transform:rotate(180deg);
}

.dolne_pole p {
    transform:rotate(180deg);
}

#belka_gora {
	width:38px;
	height:255px;
	float:left;
}

#belka_dol {
	width:38px;
	height:255px;
	float:right;
}

#plansza div img {
	width:34px;
	height:34px;
	z-index:100;
}

.pionek_bordo {
	height:34px;
	width:34px;
	background-image: url('pionek_bordowy.png');
}

.pionek_bialy {
	height:34px;
	width:34px;
	background-image: url('pionek_bialy.png');
}

#kostki img {
	width:20%;
	height:auto;
}

#kostki {
	position:relative;
	left:28%;
}

#zbite {
    width:38px;
	height:255px;
    position:relative;
    left:285px;
    top:60px;
}