body {
	background-color: #E8EDDF;
	margin: 0;
	font-family: 'Roboto', sans-serif;

}

header {
	background-color: #3E000C;
	margin: 0;
	color: white;
	padding:10px 0 10px 0;
}

#lewy-bok {
	width:20%;
	background-color: #3E000C;
	height:100%;
	float:left;
	color: white;
}

h1 {
	font-weight: normal;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	margin:0;
	font-size: 3em;
	text-align: center;
}

main {
	position:relative;
	left:20%;
	margin: 50px 0 0 0;
	float:left;
}

#plansza {
	width: 600px;
	height: 537px;
	background-image: url('plansza.png');
}

#plansza div {
	width: 45px;
	height: 255px;
	float:left;
	position:relative;
	left:13px;
}

.gorne_pole {
	position:relative;
	top:14px;
}

#plansza div img {
	width:35px;
	height:35px;
	z-index:100;
}